!!!
%html
  %head
    %title makevoid's photos (s3photo)
    %link{ rel: "stylesheet", href: "main.css" }
    %meta{ charset: "UTF-8" }
    %meta{ http_equiv: "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ property: "og:image", content: "http://mkvphoto.s3.amazonaws.com/nodump_crisi/img_0389.jpg"  }
  %body
    .container
      %h1
        / s3photos
      .content

      %footer
        %a{ href: "https://github.com/makevoid/s3photos" } S3Photos is open source
    %script{ src: "vendor/jquery.js" }
    %script{ src: "s3photos.js" }
