*
  box-sizing: border-box
  margin: 0
  padding: 0

a
  text-decoration: none

a
  color: #EEE

a:hover
  color: #FFF

html, body
  width: 100%
  background: #222
  height: 100%
  min-height: 100%
  max-height: 100%
  margin: 0
  padding: 0

.container
  //margin: 20px auto 20px
  //width: 95%

.content
  //margin: 0 0 30px 0

img
  //width: 100%
  //margin: 0 0 30px

footer
  text-align: right

.photo_gallery
  position: relative
  overflow: hidden
  height: 100%
  div
    position: absolute

    width: 100%
    // width: 50% // debug
    -webkit-transition: -webkit-transform 0.7s ease-in-out
    -webkit-transform: translate3d(-100%, 0, 0)

    -moz-transition: all 0.7s ease-in-out
    -moz-transform: translate(-100%, 0)
    // display: none
    // opacity: 0
  img
    width: 100%
    margin: 0 auto
    display: block
  .pos2
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate(0, 0)
  .pos3, .pos4
    -webkit-transform: translate3d(100%, 0, 0)
    -moz-transform: translate(100%, 0)
  .close, .next, .prev, .pause, .loading, .info
    position: absolute
    z-index: 4
    color: #CCC
    background: rgba(70,70,70,0.4)
    cursor: pointer
    &:hover
      color: #FFF
      background: rgba(40,40,40,0.6)
  .close
    padding: 0px 9px 2px
    top: 0
    right: 0
    font-size: 1.6em
    color: #DDD
    background: rgba(70,70,70,0.5)
  .next, .prev
    padding: 3px 5px
    top: 47%
    font-size: 1.8em
  .prev
    left: 0
  .next
    right: 0
  .pause
    bottom: 0
    right: 0
    height: 30px
    font-size: 1.2em
    padding: 3px 0 3px 9px
  .pause.play
    padding: 0px 5px 5px
    font-size: 1.8em
  .loading
    font-size: 1.4em
    top: 10px
    margin: 0 20px
    z-index: 4
    padding: 3px 8px
  .info
    right: 0
    font-size: 0.8em
    padding: 1px 3px